@{
    ViewData["Title"] = "Home Page";
}
@model HomePageModel

<div class="text-center">
    <h1 class="display-4">Welcome, type your text below:</h1>
    <form id="searchForm">
        <input id="searchText" class="search" type="text" />
        <button type="button" id="submitButton">Отправить</button>
    </form>
</div>

@section Scripts {
    <script>
        document.getElementById("submitButton").addEventListener("click", function() {
            var searchText = document.getElementById("searchText").value;
            // Выполнить AJAX-запрос к серверу
            fetch("/Search/ProcessSearch", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ searchText: searchText })
                })
                .then(response => response.json())
                .then(data => {
                    // Обработать ответ от сервера
                    console.log(data);
                })
                .catch(error => {
                    console.error("Error:", error);
                });
        });
    </script>
}
